<div class="message">
  <% user = User.find_by(id: message.user) %>
  <p id="message_sender">@<%= user.name %>  <%= message.get_time %></p>
  <ul>
    <p id="message_content"><%= message.content %></p>
  </ul>
</div>